# generated configs
Xresources/my/Xresources
conky/line/conky-lemonbar.conf
conky/line/conky-lemonbar.sh
conky/line/conky.conf
conky/simple/conky.conf
dunst/my/dunstrc
fontconfig/my/fonts.conf
foot/my/foot.ini
gtk/gtk.css
gtk/settings.ini
nvim/my/init.vim
nvim/my/init.lua
openbox/my/rc.xml
vim/vimrc
xmobar/my/xmobarrc
gtk/gtkrc-2.0
alacritty/my/alacritty.yml
bspwm/my/bspwmrc
mpv/my/playlists/


# others
emacs.d/elpa/
emacs.d/private/
emacs.d/.custom.el
emacs.d/smex-items

xmonad-x86_64-linux
xmonad.errors
xmonad.hi
xmonad.o

.stack*
*-master
*.zip
*.bzip2
*.xz
*.gz
*.tgz
.uuid
.opam

autoload/
plugged/
session/

*.log
*.obj

__pycache__/

wget-log
